---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="UTEC | 1er semestre">
  <h1 class="mb-4 text-2xl">
    Apuntes de la UTEC - Universidad Tecnológica del Uruguay. Primer semestre.
  </h1>
</Layout>
