<footer
  class="mt-16 flex w-full max-w-3xl items-center justify-center border-t border-t-slate-800 py-4 dark:border-t-slate-300"
>
  <p>
    Built with <a
      href="https://astro.build/"
      target="_blank"
      class="font-bold text-red-800">Astro</a
    > by <a
      href="https://github.com/enzom-uy"
      target="_blank"
      class="text-slate=300 font-bold">enzom-uy</a
    >
  </p>
</footer>
