---
import SearchIcon from './SearchIcon.astro'
import ThemeToggler from './ThemeToggler.astro'

const { pathname } = Astro.url

const links = [
  {
    name: 'Inicio',
    href: '/'
  },
  {
    name: 'Utec',
    href: '/utec'
  },
  {
    name: 'Coding',
    href: '/coding'
  }
]
---

<header
  class="mb-4 w-full max-w-3xl border-b-[1px] border-b-gray-800 border-opacity-40 py-4 font-bold"
>
  <nav>
    <ul
      class="flex flex-col items-center justify-center gap-8 min-[400px]:flex-row sm:justify-between"
    >
      <div class="flex items-center gap-8">
        {
          links.map((l) => (
            <li>
              <a
                href={l.href === pathname ? null : l.href}
                class={`${
                  l.href === pathname &&
                  'cursor-pointer text-cyan-900 dark:text-cyan-700'
                }`}
              >
                {l.name}
              </a>
            </li>
          ))
        }
      </div>
      <div class="flex items-center gap-8">
        <li class="flex items-center hover:text-cyan-700"><SearchIcon /></li>
        <li class="hover:text-cyan-700"><ThemeToggler /></li>
      </div>
    </ul>
  </nav>
</header>
