<span
  class="mb-3 hidden list-disc rounded-xl rounded-lg border border border-2 border-b-2 border-b border-slate-300 border-slate-800 p-4 p-[4rem] p-2 px-6 text-4xl text-2xl text-xl text-lg font-bold underline decoration-orange-500 underline-offset-2 hover:text-orange-500 dark:border-zinc-700 dark:border-slate-300"
></span>
