---
import Layout from '@/layouts/Layout.astro'
import Search from '@/components/Search'

const posts = await Astro.glob('../**/*.md')
---

<Layout title="Buscar">
  <h1 class="text-2xl">Buscar un post.</h1>
  <Search client:load posts={posts} />
</Layout>
