---
import PostsList from '@/components/PostsList.astro'
import Layout from '@/layouts/Layout.astro'
const posts = await Astro.glob('./**/*.md')
---

<Layout title="Coding">
  <h1 class="mb-4 text-2xl">Apuntes de programación en general.</h1>
  <PostsList posts={posts} />
</Layout>
