---
import Layout from '@/layouts/Layout.astro'

const semestres = [{ name: '1er semestre', href: '/utec/1er-semestre' }]
---

<Layout title="UTEC">
  <h1 class="mb-4 text-2xl">
    Apuntes de la UTEC - Universidad Tecnológica del Uruguay.
  </h1>
  {semestres.map((s) => <a href={s.href}>{s.name}</a>)}
</Layout>
