---
import CategoryLayout from '@/layouts/CategoryLayout.astro'

const semestres = [{ name: '1er semestre', href: '/utec/1er-semestre' }]
---

<CategoryLayout
  title="UTEC"
  heading="Apuntes de la UTEC - Universidad Tecnológica del Uruguay."
>
  {semestres.map((s) => <a href={s.href}>{s.name}</a>)}
</CategoryLayout>
