---
import CategoryLayout from '@/layouts/CategoryLayout.astro'
import { semesters } from '@/variables/semesters'
---

<CategoryLayout
  title="UTEC"
  heading="Apuntes de la UTEC - Universidad Tecnológica del Uruguay."
>
  <ul>
    {
      semesters.map((s) => (
        <li>
          <a href={`/utec/${s.slug}`}>{s.name}</a>
        </li>
      ))
    }
  </ul>
</CategoryLayout>
